.container {
	width: 700px;
	margin-bottom: 80px auto;
}
@media (max-width: 760px) {
	.container {
		width: auto!important;
	}
}

@media screen and (max-width: 480px) {
	.container {
		width: auto!important;
	}
}
